*.sublime-workspace
.config/mc/hotlist
.fzf/
.oh-my-zsh
.tmux.conf.bak
.tmux/plugins/tmux-copycat
.tmux/plugins/tmux-prefix-highlight
.tmux/plugins/tmux-resurrect
.tmux/resurrect
.vim/.netrwhist
.vim/bund .vim/bundle/vim-fugitive
.vim/bundle/ack.vim
.vim/bundle/gundo.vim
.vim/bundle/nerdtree
.vim/bundle/nerdtree-git-plugin
.vim/bundle/syntastic
.vim/bundle/vim-airline
.vim/bundle/vim-markdown
.vim/bundle/vim-tmux
iTerm2
misc/Cobalt2-iterm
tmux.start.sh
vim/bundl .vim/bundle/supertab